<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Comfortaa&family=Aldrich&family=IBM+Plex+Sans&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/resources/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sales/general.css">
    <link rel="stylesheet" href="/css/sales/<%= pageCSS %>">
    <link rel="stylesheet" href="/css/sales/media.css">
    <script src="/resources/jquery.min.js" defer></script>
    <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.1/dist/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/sales/<%= pageJS %>" defer></script>
    <script src="/js/sales/general.js" defer></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <section id="error-block">
        <span class="close-err-block center"><ion-icon class="err-ico center" name="close-outline"></ion-icon></span>
        <div class="err-box center">
            <p class="err-head">Couldn't check-out items 🛒</p>
            <p class="err-logs">Error Logs 📝</p>
            <div class="hol-logs">
                <table>
                    <thead>
                        <tr>
                            <th class="td-one">#</th>
                            <th class="td-two">Item</th>
                            <th class="td-three">Reason</th>
                        </tr>
                    </thead>
                    <tbody class="log-mess"></tbody>
                </table>
            </div>
        </div>
    </section>

    <% const accessoryArray = [ "Type C head (2-pins)", "Type C Set (2-pins)", "Type C head (3-pins)", "Type C Set (3-pins)", "Type C cord-only", "USB head (2-pins)", "USB Set (2-pins)", "USB head (3-pins)", "USB Set (3-pins)", "USB cord-only", "Earpiece Brush", "Earpiece Pin", "Battery", "Cover", "3-in-1 Dock", "Normal Protector", "Privacy Protector", "360 Protector", "Series Protector", "Screen", "Camera Lens", "Series Straps", "Dongle", "Airpods Case", "Series Charger", "Laptop Charger"] %>
    
    <div class="checkout-overlay">
        <div class="checkout-content center row">
            <div class="items-left">
                <div class="hol-tags row">
                    <% accessoryArray.forEach(accessory => { %>
                        <button type="button" class="tag-par" data-name="<%= accessory %>">
                            <div class="tag-over"></div>
                            <img src="/imgs/categ/sales/products/sold/<%= accessory %>.png" alt="">
                            <p class=""><%= accessory %></p>
                        </button>                    
                    <%}) %>
                </div>                
            </div>

            <div class="items-right">
                <form action="" class="cart-form">              
                    <div class="hol-sub-btns">
                        <button type="button" class="btn btn-danger close-btn">Close</button>
                        <select name="paymeth" id="payment" class="btn btn-primary">
                            <option value="">Payment method</option>
                            <option value="cash">Cash</option>
                            <option value="momo">Momo</option>
                            <option value="split">Split</option>
                        </select>
                        <button class="btn btn-success">Checkout</button>
                    </div>
                    <div class="cust-details">
                        <input type="text" name="cdata" class="c-data" placeholder="Customer's Details">
                    </div>
                    <div class="receipt">
                        <p class="total">TOTAL : GH₵ <span class="big-tot">0</span></p>
                        <div class="rec-table">
                            <table>
                                <tr class="opt-row">
                                    <td class="ftd">Cash</td>
                                    <td class="">Momo</td>
                                </tr>
                                <tr>
                                    <td class="ftd"><input type="number" min="1" class="cash-inp"></td>
                                    <td class="tot-mval">0</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    
    <section id="analy-main">
        <div class="hol-secs row">
            <div class="left-nav">
                <div class="left-container center">
                    <div class="user-sec row">
                        <div class="user-img">
                            <div class="user-dp center"></div>
                        </div>
                        <div class="user-text">
                            <div class="hol-user-spans center">
                                <span class="name"><b>Christiana Dzill</b></span>
                                <span class="job" style="font-size:18px">Sales Representative</span>
                            </div>
                        </div>
                    </div>

                    <% const navArray = [['SALES', '/accounts', 'stats-chart-outline'], ['PHONES', '/products/phones', 'phone-portrait-outline'], ['PRODUCTS', '/sections', 'options-outline'], ['ACCESSORIES', '', 'cart-outline'], ['Look Up', '/search', 'search-outline']] %>
                    <div class="nav-cont">
                        <ul>
                            <% navArray.forEach(nav => { %>
                                <% let link = nav[0] === 'ACCESSORIES' ? 'javascript:void' : nav[1] %>
                                <% let classes = nav[0] === 'ACCESSORIES' %>
                                <li class="<%= classes ? "row checkout-btn" : "row" %>">
                                    <span class="li-ico">
                                        <ion-icon name="<%= nav[2] %>" class="tv-ico center"></ion-icon>
                                    </span>
                                    <a  href=<%= link %> class="li-text">
                                       <span class="text center"><%= nav[0] %></span> 
                                    </a>
                                </li>
                            <%}) %>
                        </ul>
                    </div>
                    

                    <div class="left-nav-footer">

                    </div>
                </div>
            </div>

            <div class="right-section">
                <div class="right-container">
                    <div class="right-nav">
                        <div class="nav">
                            <div class="hol-date">
                                <p class="todate">
                                    <span class="date"></span>
                                    <span class="time">
                                        <span class="hrs"></span> :
                                        <span class="min"></span> :
                                        <span class="sec"></span>
                                    </span>
                                </p>
                            </div>

                            <div class="hol-btns center">
                                <a href="/" class="hol-btn-ico">
                                    <ion-icon name="home-outline" class="top-ico center"></ion-icon>
                                </a>
                                <span class="hol-btn-ico">
                                    <ion-icon name="notifications-outline" class="top-ico center"></ion-icon>
                                </span>
                                <span class="hol-btn-ico">
                                    <ion-icon name="scan-outline" class="top-ico center"></ion-icon>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="right-cont">
